<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dft.onyx.samples.onyxdemoimagepyramiding">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature android:name="android.hardware.flash"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <activity
            android:name=".OnyxDemoImagePyramiding"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<provider-->
            <!--android:name="com.dft.onyxcamera.licensing.provider.LicenseContentProvider"-->
            <!--android:authorities="com.dft.onyxcamera.licensing.provider.LicenseAPI"-->
            <!--android:exported="false" />-->
    </application>

</manifest>
